<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815506556767-04broupdsokj9lcp4mpo1qs9v27ebthv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815506556767-04broupdsokj9lcp4mpo1qs9v27ebthv</string>
	<key>API_KEY</key>
	<string>AIzaSyApj2iyjfMcxmcqTYhgnDRkMyJ_SB8Bq_c</string>
	<key>GCM_SENDER_ID</key>
	<string>815506556767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentest100</string>
	<key>PROJECT_ID</key>
	<string>fir-test-100-ffc7f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-100-ffc7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815506556767:ios:3139dd640e6a6eea0298ea</string>
</dict>
</plist>